<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Streamit - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Admin/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Admin/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/Admin/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/Admin/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/Admin/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-6 col-sm-12 col-12 ">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div class="sign-in-from w-100 m-auto">
                                <h3 class="mb-0">Reset Password</h3>
                                <p class="text-white">Enter Otp Here</p>
                                <form class="mt-4" action="/checkOtp" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control mb-0" name="otp" placeholder="Enter OTP" " required>                                
                                    </div>
                                    <input type="submit" value="Enter" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sign in END -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Admin/js/jquery.min.js"></script>
    <script src="/Admin/js/popper.min.js"></script>
    <script src="/Admin/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/Admin/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="/Admin/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="/Admin/js/waypoints.min.js"></script>
    <script src="/Admin/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="/Admin/js/wow.min.js"></script>
    <!-- Slick JavaScript -->
    <script src="/Admin/js/slick.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="/Admin/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="/Admin/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="/Admin/js/smooth-scrollbar.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/Admin/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="/Admin/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
            <% if (flash.error && flash.error.length > 0) { %>
            new Noty({
                theme: 'relax',
                type: 'error',
                timeout: 1000,
                layout: 'topCenter',
                progressBar: true,
                text: '<%= flash.error %>'
            }).show();
            <% } %>
    </script>

</body>

</html>